---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="https://www.sitemaps.org/schemas/sitemap/0.9">
<url><loc>https://paidbyagent.com/</loc></url>
<url><loc>https://paidbyagent.com/map/</loc></url>
<url><loc>https://paidbyagent.com/consulting/</loc></url>
{% for post in collections.post %}<url><loc>https://paidbyagent.com{{ post.url }}</loc><lastmod>{{ post.date | isoDate }}</lastmod></url>
{% endfor %}</urlset>
